.Container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1rem;
}

.Image {
    width: 50vw;
    height: 35vw;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.Image img {
    max-width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.Detail {
    padding: 1rem;
    width: 45vw;
}

.Slider {
    width: 90%;
    margin: 2rem 5%;
}

@media (max-width: 800px) {
    .Image {
        width: 100vw;
        height: 70vw;
        align-content: center;
    }

    .Detail {
        width: 100vw;
    }
}