.CardImage {
    height: 12rem;
    object-fit: cover;
}

.Star {
    color: #FFD700;
    stroke: #333;
    stroke-width: 10;
}

.ErrorMsg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}